{% extends 'base.html' %}


{% block content %}
<section class="flex ">
    <div class="basis-3/4 mx-6 border border-gray-200 rounded-xl p-4 ">
        <h1 class="text-2xl font-bold py-4 ">About Me</h1>
        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi, mollitia quod culpa nesciunt earum laudantium velit odit modi facilis cum doloribus doloremque vero fugiat, atque ratione minima nobis consequatur suscipit? Illum amet maxime quo ut esse repellendus, inventore nam vel nobis! Tempore, sunt quaerat dicta hic magni fugit optio.
        </p>
        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi, mollitia quod culpa nesciunt earum laudantium velit odit modi facilis cum doloribus doloremque vero fugiat, atque ratione minima nobis consequatur suscipit? Illum amet maxime quo ut esse repellendus, inventore nam vel nobis! Tempore, sunt quaerat dicta hic magni fugit optio.
        </p>
        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi, mollitia quod culpa nesciunt earum laudantium velit odit modi facilis cum doloribus doloremque vero fugiat, atque ratione minima nobis consequatur suscipit? Illum amet maxime quo ut esse repellendus, inventore nam vel nobis! Tempore, sunt quaerat dicta hic magni fugit optio.
        </p>
        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi, mollitia quod culpa nesciunt earum laudantium velit odit modi facilis cum doloribus doloremque vero fugiat, atque ratione minima nobis consequatur suscipit? Illum amet maxime quo ut esse repellendus, inventore nam vel nobis! Tempore, sunt quaerat dicta hic magni fugit optio.
        </p>
        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi, mollitia quod culpa nesciunt earum laudantium velit odit modi facilis cum doloribus doloremque vero fugiat, atque ratione minima nobis consequatur suscipit? Illum amet maxime quo ut esse repellendus, inventore nam vel nobis! Tempore, sunt quaerat dicta hic magni fugit optio.
        </p>
        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi, mollitia quod culpa nesciunt earum laudantium velit odit modi facilis cum doloribus doloremque vero fugiat, atque ratione minima nobis consequatur suscipit? Illum amet maxime quo ut esse repellendus, inventore nam vel nobis! Tempore, sunt quaerat dicta hic magni fugit optio.
        </p>
        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi, mollitia quod culpa nesciunt earum laudantium velit odit modi facilis cum doloribus doloremque vero fugiat, atque ratione minima nobis consequatur suscipit? Illum amet maxime quo ut esse repellendus, inventore nam vel nobis! Tempore, sunt quaerat dicta hic magni fugit optio.
        </p>
    </div>
    <div claas="basis-1/4" >
        <h2> useful Links </h2>
    </div>
</section>
{% endblock %}