<footer class=" bg-gray-800 text-white  w-full ">
    <div class="grid grid-cols-3 gap-2 border-t border-white p-6">
        <div>
            <h2 class="text-2xl" >Social Media Links</h2>
            <ul class="block">
                <li>
                    <a href="https://www.linkedin.com/in/bright-wumbei-46b11a162/" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
                <li>
                    <a href="https://github.com/Nlansong" target="_blank">Github</a>
                </li>
            </ul>
        </div>
        <div>Second block</div>
        <div>Third block</div>
    </div>
</footer>