<footer class=" bg-gray-800 text-white  w-full ">
    <div class="grid grid-cols-3 gap-2 border-t border-white p-6">
        <div class="border border-white rounded-xl p-4">
            <h2 class="text-2xl" >Social Media Links</h2>
            <ul class="block">
                <li>
                    <a href="https://www.linkedin.com/in/bright-wumbei-46b11a162/" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
                <li>
                    <a href="https://github.com/Nlansong" target="_blank">Github</a>
                </li>
            </ul>
        </div>
        <div class="border border-white rounded-xl p-4">
            <h2>Contributions </h2>
            <p>List of contibutions or publications made</p>
        </div>
        <div class="border border-inherit hover:bg-violet-600 rounded-xl p-4 ">
            <h2 class="text-2xl">Menu Links</h2>
            <li>
                <a href="{% url 'contact' %}"  class="hover:text-teal-500 hover:text-3xl">Contact</a>
            </li>
            <li>
                <a href="{% url 'about' %}" class="hover:text-teal-500 hover:text-3xl" >About</a>
            </li>
            <li>
                <a href="{% url 'index' %}"  class="hover:text-teal-500 hover:text-3xl" >home</a>
            </li>
        </div>
    </div>
</footer>