{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block content %}
<section class="mx-4 py-6 " >
    
    <div class="grid grid-cols-3 gap-3" >
        {% for post in posts %}
        <a href="{% url 'detail' slug=post.slug %}" class="py-4">
            <div>
                <div >
                    <img src={{post.image.url}} class="rounded-t-lg w-full" height="250px" />
                </div>
                <h1 class="text-2xl text-gray-900 bg-white" > Title:  {{post.title}} </h1>
                <p class="text-lg text-gray-900 bg-white border-gray-200  pt-2 " > excerpt: {{post.excerpt}} </p>
                
            </div>
        </a>
        {% endfor %}
    </div>
   
</section>
{% endblock %}